In [2]:
import pandas as pd
series_ex1=pd.Series([100,500,150],index=['카카오','삼성전자','현대차'])
print(series_ex1['카카오'])
print(series_ex1['현대차'])

100
150

In [3]:
print(series_ex1[1])

500

In [4]:
pd.DataFrame({'가격':[100,500,150],'PER':[0.5,1.2,0.2],'ROA':[1.01,3.1,0.97]},index=['카카오','삼성전자','현대차'])

       가격  PER   ROA
카카오   100  0.5  1.01
삼성전자  500  1.2  3.10
현대차   150  0.2  0.97

In [5]:
df_ex1=pd.DataFrame({'가격':[100,500,150],'PER':[0.5,1.2,0.2],'ROA':[1.01,3.1,0.97]},index=['카카오','삼성전자','현대차'])
df_ex1['가격']

카카오     100
삼성전자    500
현대차     150
Name: 가격, dtype: int64

In [6]:
df_ex1['가격']['삼성전자']

500

In [7]:
df_ex1.loc["카카오"]

가격     100.00
PER      0.50
ROA      1.01
Name: 카카오, dtype: float64

In [8]:
file_path='C:\\Users\\lge\\Desktop\\파이썬연습\\주식 책 데이터\\마법공식 데이터.xlsx'
pd.read_excel(file_path,sheet_name='PER')

         회사명    PER
0         3S -11.87
1     AJ네트웍스  25.15
2      AJ렌터카  24.85
3      AK홀딩스  11.49
4     APS홀딩스   0.23
...      ...    ...
2000  흥국에프엔비  23.20
2001    흥국화재   5.93
2002    흥아해운  -4.87
2003      희림  20.66
2004      힘스   6.63

[2005 rows x 2 columns]

In [9]:
per_data=pd.read_excel(file_path,sheet_name='PER',index_col=0)

In [10]:
filtered_per=per_data[per_data['PER']>0]

In [11]:
sorted_per=filtered_per.sort_values(by='PER')

In [12]:
sorted_per['PER'].rank()

회사명
APS홀딩스        1.0
STX중공업        2.0
제일파마홀딩스       3.0
이녹스           4.0
유비쿼스홀딩스       5.0
            ...
신영스팩3호     1389.0
SCI평가정보    1390.0
제이에스티나     1391.0
셀트리온제약     1392.0
코미팜        1393.0
Name: PER, Length: 1393, dtype: float64

In [13]:
sorted_per['PER랭킹']=sorted_per['PER'].rank()

In [15]:
sorted_per

              PER   PER랭킹
회사명
APS홀딩스       0.23     1.0
STX중공업       0.37     2.0
제일파마홀딩스      0.39     3.0
이녹스          0.75     4.0
유비쿼스홀딩스      1.04     5.0
...           ...     ...
신영스팩3호    3369.00  1389.0
SCI평가정보   3662.70  1390.0
제이에스티나    5455.44  1391.0
셀트리온제약   10318.45  1392.0
코미팜      23333.05  1393.0

[1393 rows x 2 columns]

In [16]:
roa_data=pd.read_excel(file_path,sheet_name="ROA",index_col=0)

In [17]:
filtered_roa=roa_data.dropna()

In [18]:
filtered_roa.columns=["ROA"]

In [22]:
sorted_roa=filtered_roa.sort_values(by="ROA",ascending=False)
sorted_roa['ROA랭킹']=sorted_roa.rank(ascending=False)

In [23]:
total_df=pd.merge(sorted_per,sorted_roa,how='inner',left_index=True,right_index=True)

In [24]:
total_df['종합 랭크']=(total_df['PER랭킹']+total_df['ROA랭킹']).rank()
total_df.sort_values(by='종합 랭크')

              PER   PER랭킹    ROA   ROA랭킹   종합 랭크
회사명
서한           3.22    22.0  23.65    25.0     1.0
골프존          4.19    38.0  24.77    21.0     2.0
동원개발         4.41    42.0  23.62    26.0     3.0
오가닉티코스메틱     5.11    66.5  44.06     3.0     4.0
모베이스         4.49    45.0  20.03    52.0     5.0
...           ...     ...    ...     ...     ...
SCI평가정보   3662.70  1390.0  -6.80  1734.0  1247.0
덕양산업       424.93  1358.0  -8.46  1773.0  1248.0
디비케이       119.68  1281.0 -14.23  1863.0  1249.0
이루온        197.50  1328.0 -13.28  1847.0  1250.0
감마누        395.36  1355.0 -22.41  1893.0  1251.0

[1251 rows x 5 columns]

In [25]:
def magic_by_pd(path):
    per_data=pd.read_excel(path,sheet_name='PER',index_col=0)
    filtered_per=per_data[per_data['PER']>0]
    sorted_per=filtered_per.sort_values(by='PER')
    sorted_per['PER랭킹']=sorted_per['PER'].rank()
    
    
    roa_data=pd.read_excel(path,sheet_name='ROA',index_col=0)
    filtered_roa=roa-data.dropna()
    filtered_roa.columns=['ROA']
    sorted_roa=filtered_roa.sort_values(by='ROA',ascending=False)
    sorted_roa['ROA랭킹']=sorted_roa.rank(ascending=False)
    
    total_df=pd.merge(sorted_per,sorted_roa,how='inner',left_index=True,right_index=True)
    
    total_df['종합 랭크']=(total_df['PER랭킹']+total_df['ROA랭킹']).rank()
    return total_df.sort_values(by='종합 랭크')